.site-title {
  color: #191970;
  margin: 15px;
  font-size: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 30px;
}
#header li {
  margin-left: 25px;
}
#header li a {
  color: #191970;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.example__box{
  background-color: #0c3283;
  width: 80%;
  height: 250px;
  margin-top: 400px;
  position: relative;
}

.example__img{
  position: absolute;
  top: -350px;
  right: -290px;
  display: block;
  width: 60%;
}

.example__box::before {
  content: "毎日を笑顔に";
  color: black;
  position: absolute;
  top: -50px;
  left: 0px;
  font-size: 50px;
  font-weight: lighter;
}


