.site-title {
  color: #191970;
  margin: 15px;
  font-size: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 30px;
}
#header li {
  margin-left: 25px;
}
#header li a {
  color: #191970;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.content {
}

.content__img img {
  width: 100%;
}
.content__img {
  margin: 10% 0 0 50%;
  width: 50%;
  position: relative;
  bottom: -40px;
}

.box {
  width: 70%;
  background: #191970;
  height: 170px;
  margin-top: -10%;
  position: relative;
}

.box::before {
  content: "毎日を笑顔に";
  color: black;
  position: absolute;
  top: -50px;
  left: 0px;
  font-size: 50px;
  font-weight: lighter;
}
